package checkout

import (
	"alc/model/cart"
	"time"
)

func TotalProducts(items []cart.Item) int {
	count := 0
	for _, i := range items {
		count += i.Quantity
	}
	return count
}

func GetTime(t time.Time) string {
	loc, _ := time.LoadLocation("America/Lima")
	locTime := t.In(loc)
	return locTime.Format(time.DateTime)
}

templ Hi() {
	<p>Hi</p>
}
